@model SampleDTO

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Privacy" method="post">
    <input type="text" asp-for="Test" />
    <input type="submit" />
</form>
